body {
    font: 18px sans-serif;
}

nav.bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: black;
    margin-left: calc(50% - 50vw);
    width: 100vw;
}

nav.bar a {
    flex: 1;
    text-decoration: none;
    text-align: center;
    max-width: 8em;
    color: white;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: white;
}

nav.bar a.nav-last {
    border-right-style: dotted;
    border-right-width: 1px;
    border-right-color: white;
}

nav.bar a:hover {
    background-color: #404040;
}

.document-body {
    margin: auto;
    max-width: 40em;
}
