body {
    font: 18px sans-serif;
    margin: 0px;
}

div.title-bg {
    position: relative;
    background-image: url(/assets/img/title-bg.png);
    background-repeat: repeat-x;
    background-size: cover;
    width: 100vw;
    height: 100%;
    margin-left: calc(50% - 50vw);
    padding: 1em;
}

div.title-bg h1.title-text {
    margin: 0px;
    color: white;
    text-align: center;
}

nav.bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: black;
    margin-left: calc(50% - 50vw);
    width: 100vw;
}

nav.bar a {
    flex: 1;
    text-decoration: none;
    text-align: center;
    max-width: 8em;
    color: white;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: white;
}

nav.bar a.nav-last {
    border-right-style: dotted;
    border-right-width: 1px;
    border-right-color: white;
}

nav.bar a:hover {
    background-color: #404040;
}

.document-body {
    margin: auto;
    max-width: 40em;
}


/* dark theme */

@media (prefers-color-scheme: dark) {
    html {
        color: #d8d4cf;
    }

    body {
        background-color: #131516;
    }

    a {
        color: #3391ff;
    }
}
